:host {
  display: block;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
}

.background-container {
  background-color: #0e0e0e99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: hidden;
}

@media (max-height: 620px) {
  .background-container {
    height: 100%;
    overflow-y: auto;
  }
}

.logo {
  position: absolute;
  top: 33px;
  left: 31px;
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: bold;
}

.logo img {
  max-width: 160px;
  width: 100%;
  cursor: pointer;
}
