<h2>{{ section }}</h2>
<div class="scroll-wrapper" [ngClass]="{ expanded: isExpanded }">
  <button class="scroll-button left" (click)="scrollLeft()">
    <img src="/images/left-arrow.png" class="arrow" />
  </button>
  <div class="scroll-container" #scrollContainer>
    <ul class="movie-list">
      @for (movie of movies; track movie) {
      <li class="movie-item" (click)="showMovieInfo(movie)">
        <div class="image-container">
          <img [src]="getImageUrl(movie.backdrop_path)" [alt]="movie.title" />
          <div class="hover-overlay">
            <div class="hover-info">
              <div class="actions">
                <img src="/images/play-button.png" />
                <img src="/images/plus.png" />
                <img src="/images/chevron.png" />
              </div>
              <h4>{{ getTitleOrName(movie) }}</h4>
            </div>
          </div>
        </div>
      </li>
      }
    </ul>
  </div>
  <button class="scroll-button right" (click)="scrollRight()">
    <img src="/images/right-arrow.png" class="arrow" />
  </button>
</div>

@if (selectedMovie) {
<div class="movie-info-overlay">
  <div class="movie-info-content">
    <div class="header">
      <button class="close-button" (click)="closeMovieInfo()">x</button>
    </div>
    <img
      class="overlay-image"
      [src]="getImageUrl(selectedMovie.backdrop_path)"
      alt="{{ selectedMovie.title }}"
    />
    <h3>{{ getTitleOrName(selectedMovie) }}</h3>
    <p class="overview">{{ selectedMovie.overview }}</p>
    <div class="movie-details">
      <p><strong>Genres:</strong> {{ selectedMovie.genre_ids.join(", ") }}</p>
      <p>
        <strong>Release date:</strong>
        {{ selectedMovie.release_date | date : "yyyy" }}
      </p>
      <p>
        <strong>Average vote:</strong>
        {{ selectedMovie.vote_average | number : "1.1-1" }}
      </p>
      <p>
        <strong>Original language:</strong>
        {{ selectedMovie.original_language }}
      </p>
      <p><strong>Age classification:</strong> Suitable for all ages</p>
    </div>
  </div>
</div>
}
