$primary-color: #e50914;

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &__form {
    padding: 40px 48px;
    background-color: #030303bf;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    min-height: 639px;
    box-sizing: border-box;
    animation: slideUp 0.7s ease-out;

    @media (max-width: 768px) {
      padding: 15px 40px;
      max-width: 70%;
    }

    @media (max-width: 600px) {
      max-width: 90%;
    }

    &--title {
      color: #f2f2f2;
      font-size: 24px;
      margin-bottom: 8px;
      text-align: left;
      font-family: Inter, sans-serif;
    }

    &--warning {
      display: block;
      font-family: Inter, sans-serif;
      font-size: 14px;
      line-height: 1.4;
      margin: 24px 0 15px;
      text-align: center;
      color: $primary-color;
      font-weight: 600;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .form-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
      border: 0;
      background-color: #333;
      border-bottom: 2px solid transparent;
      border-radius: 5px;
      box-shadow: none;
      color: #f2f2f2;
      font-family: Inter, sans-serif;
      font-size: 15px;
      outline: none;
      padding: 1em 1.2em;
      transition: border-bottom 0.2s ease-out, transform 0.2s ease-out;
      width: calc(100% - 2.4em);
    }

    &__error {
      margin-top: 6px;
      color: orange;
      font-size: 14.9px;
      text-align: start;
      font-family: Inter, sans-serif;
    }
    .error-border {
      border-bottom: 2px solid orange;
    }
  }

  .form-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .btn {
      min-height: 60px;
      align-items: center;
      border: 1px solid transparent;
      border-radius: 5px;
      box-shadow: none;
      cursor: pointer;
      display: flex;
      font-family: Inter, sans-serif;
      font-weight: 500;
      justify-content: center;
      line-height: 1;
      font-size: 16px;
      transition: 0.2s ease-out, color 0.2s ease-out;
      width: 100%;

      &-primary {
        background: $primary-color;
        color: #fff;

        &:hover {
          background: darken($primary-color, 10%);
          color: #f2f2f2;
        }
      }

      &-google {
        background: transparent;
        color: #d9d9d9;
        border: 1px solid #d9d9d9;
        opacity: 0.6;
        img {
          width: 19px;
          margin-right: 9px;
        }
      }
    }
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
