.background-container {
  background-color: #0e0e0e99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: hidden;
}
@media (max-height: 620px) {
  .background-container {
    height: 100%;
    overflow-y: auto;
  }
}

:root {
  --background-image: url("https://cdn.jsdelivr.net/gh/Th3Wall/assets-cdn/Fakeflix/Fakeflix_auth_bg.jpg");
  background: var(--background-image) no-repeat center center fixed;
  background-size: cover;
  position: relative;
}
body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.signup {
  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    margin: 24px;
    color: #747474;
    font-size: 17px;
    font-family: Inter, sans-serif;
    border-top: 1px solid #6b6b6b;
    width: 100%;
    max-width: 350px;
    line-height: 1.5;
    padding-top: 25px;
    text-align: center;
  }

  a {
    text-decoration: none;
    margin-left: 1px;
    transition: color 0.2s ease-out, transform 0.2s ease-out,
      font-size 0.2s ease-out;
    font-weight: 600;
    font-size: 17px;
    display: inline-block;
    color: #e50914;

    &:hover {
      color: #cc0812;
      transform: scale(0.9);
    }
  }
}
